@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Nerko+One&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nerko+One&family=Pacifico&display=swap');

@font-face {
  font-family: orangee;
  src: url("./orange\ juice\ 2.0.ttf");
}




.pageNotFoundDiv{
  width: 96vw;
  height: 95vh;
  background: url("./images/brn-logo.png") white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-blend-mode:hard-light;
  background-position: center;
}


.pageNotFoundSpanDiv{
  width: 97%;
  height: 100%;
  color: darkblue;
  font-family: orangee;
  /* font-size: 3rem; */
  font-size: 4vi;
  display: flex;
  justify-content: center;
  align-items: center;
}






.stuInterForm{
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  background:url("./images/bg2.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 1200px;
}

.stuInterForm div{
  margin: 10px;
}

.stuDetailsDiv{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.stuDetailsDiv legend{
  text-align: center;
}

.stuDetailsDiv label{
  display: inline-block;
  margin: 10px;
  width: 120px;
}

.labelHeading {
  font-size: 1.2rem;
  font-family: "Nerko One", cursive;
}

.nameLabel{
  width: 180px;
  padding: 2px;
}

.nameLabel label{
  border: 5px;
  width: 100%;
}

.stuDetailsDiv input{
  display: inline-block;
  width: auto;
}

/* .subDiv{
  width: ;
}

.marksDiv{
  width: ;
} */

.marksDiv input{
  margin-left: 10px;
  text-align: center;
  width: 90px
}

.stuMarks1Div{
  width: 315px;
}

.stuMarks1Div input{
  width: 100px;
}

.stuMarks2Div{
  width: 315px;
}

.stuMarks2Div input{
  width: 100px;
}

.resultDiv{
  width: 100%;
}

.resultDiv legend{
  text-align: center;
}

.stuMarks1Div span{
  padding: 3px;
  letter-spacing: 0.1rem;
  border-radius: 5px;
  margin-left: 5px;
}

.stuMarks2Div span{
  padding: 3px;
  border-radius: 5px;
  letter-spacing: 0.1rem;
  margin-left: 5px;
}

.inputHeading input{
  text-align: center;
  font-family: "Nerko One", cursive;
  border: 0px;
}
  
.stuDetailsFlex{
  display: flex;
  flex-direction: row;
  width: 100%;
}
  
.stuDetailsDiv span{
  color: red;
  padding: 7px;
  border-radius: 20px;
}

.stuDetailsFlex1{
  width: 40%;
}

.stuDetailsFlex2{
  width: 60%;
}

.stuParentNameDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.genderButtonsDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.genderButtonsDiv input{
  margin: 0px;
}

.stuInterForm legend{
  font-size: 1.3rem;
  margin-bottom: 30px;
  height: 40px;
  font-family: "IBM Plex Serif", serif;
}

.resultDiv p{
  text-align: center;
}

.hidden{
  visibility: hidden;
}

.interFormDiv button{
  border: 1px solid black;
  border-radius: 20px;
  font-family: orangee;
  letter-spacing: 0.3rem;
  font-size: 1.2rem;
  padding: 5px;
  background: url("./images/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.interFormDiv button:hover{
  background: url("./images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}


.interFormDiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}








.dashboardDiv{
  width: 100vw;
  height: 100vh;
  background: url("./images/brn-logo.png") white;
  background-repeat: no-repeat;
  background-blend-mode:luminosity;
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
}

.welcomeDashboardDiv{
  font-family: "Pacifico", cursive;  
  letter-spacing: 0.4rem;
  word-spacing: 1.2rem; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.topNavigation{
  background: url("./images/bg1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: right;
  border: 2px solid black;
  margin-bottom: 4%;
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 96vw;
  padding: 20px;
}

.passwordInput{
  width: 100%;
  position: relative;
  padding:5px;
  display: flex;
  align-items: center;
}

.passwordImg{
  width: 20px;
  position: absolute;
  right: 10%;
  background-color: rgb(196, 207, 218);
  padding: 1px;
}

.passwordImg img{
  width: 100%;
  height: 100%;
}








.formsMainDiv{
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  flex-direction: column;
  background-color: lightblue;
  align-items: center;
}

.formsMainDiv div{
  margin: 1%;
}

.formsDiv{
  width: 380px;
  padding: 10px;
  background-color: white;
  text-align: center;
}

.formsDiv input{
  width: 90%;
  background-color: rgb(196, 207, 218);
  border: 0px;
  height: 40px;
  margin: 10px;
}

.linkDiv{
  display: flex;
  margin-bottom: 20px;
}

.formsDiv select{
  width: 91%;
  height: 40px;
  border: 0px;
  margin: 10px;
  background-color: rgb(196, 207, 218);
}



.genderMSDiv{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.genderMSLabel{
  width: 35%;
  text-align: justify;
}

.genderMSLabel label{
  background-color: rgb(196, 207, 218);
  margin-left: 13px;
  padding: 10px;
}

.genderMSDiv span{
  width: 100%;
}

.genderMS{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.genderMS label{
  background-color: white;
}
.genderMS input{
  width:auto;
}


.formsDiv h1{
  color: lightseagreen;
  margin-bottom: 0px;
  font-family: "Roboto Mono", monospace;
}

.formsDiv span{
  display: inline-block;
  color: red;
}

.formsDiv p{
  margin: 20px;
  margin-bottom: 0px;
  text-align: justify;
}



.createAccountDiv{
  background-color: rgb(73, 106, 127);
  /* padding: 0px; */
  /* margin-top: 20px; */
}

.createAccountDiv button{
  border: 0px;
  font-size: 1.2rem;
  padding: 15px;
  color: white;
  background-color: rgb(73, 106, 127);
}


.profileImg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileImg img{
  outline:1px solid black;
  outline-offset: 10px;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
}



.backSubmit{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.backSubmit button{
  height: 40px;
  border: 0px;
  margin: 20px;
  width: 80px;
}

.backButton button{
  background-color: rgb(226, 212, 212);
}

.backButton button:hover{
  color: lightseagreen;
}

.submitButton button{
  color: white;
  border: 0px;
  width: 70px;
  height: 40px;
  background-color: lightseagreen;
}

.submitButton button:hover{
  background-color: rgb(15, 107, 103);
}


.buttonsDiv{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

/* .buttonsDiv div{
  margin-bottom: 20px;
} */

.buttonsDiv input{
  width: auto;
}

.termsCheckboxDiv{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.termsCheckboxDiv input{
  width: auto;
}

.checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
}

